/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC|Montserrat');

:root {
  --img: url('https://source.unsplash.com/random/1280x720');
}

body {
  background-color: black;
  filter: sepia(0.3);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.bg {
  animation-fill-mode: forwards;
  background-attachment: fixed;
  background-image: var(--img);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(15px) grayscale(0.54) sepia(0.5);
  height: 100vh;
  padding: 0;
  position: absolute;
  transform: scale(1.03);
  width: 100%;
  z-index: -10;
}

.quote-box {
  background: hsla(0, 0%, 10%, 0.95);
  border-radius: 3px;width: auto;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  min-height: 40%;
  min-width: 50%;
  position: relative;
}

.quote-header {
  background: #602221;
  color: #E03531;
  flex: 0 1 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35rem;
  padding: 3%;
}

.quote-author {
  color: #E09E31;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1rem;
}

.quote-text {
  color: hsl(30, 25%, 50%);
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  font-family: 'Marcellus SC', serif;
  font-size: 1.5rem;
  font-style: italic; 
  justify-content: center;
  letter-spacing: 2px;
  line-height: 1.7;
  padding: 3% 6%;
  text-align: center;
}

.quote-buttons {
  align-items: center;
  color: #F21C46;
  display: flex;
  flex: 0 1 auto;
  font-size: 2.3rem;
  justify-content: center;
  padding-bottom: 1.2rem;
}

.button-container {
  padding: 0.3rem;
  margin: 0 1rem;
}

.quote-buttons button { 
  background: inherit;
  border: none;
  color: hsl(30, 25%, 65%);
  cursor: pointer;
  justify-self: flex-end;
  outline: none;
  transition: color 250ms linear;
}

.quote-buttons > button:hover { 
  color: white;
}

a {
  color: hsl(30, 25%, 65%);
}

 a:visited {
  color: hsl(30, 25%, 65%);
 }



.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .quote-box {
    max-width: 100%;
    width: 98%;
  }

  .quote-text {
    font-size: 1.2rem;
  }

  .quote-buttons > button {
    font-size: 2.5rem;
  }
}

@media (max-width: 510px) {
  .quote-box {
    background: hsla(0, 0%, 10%, 0.75);
    min-height: 100%;
    width: 100%;
  }

  .quote-text {
    font-size: 1.3rem;
  }

  .quote-buttons {
    font-size: 4rem;
    justify-content: space-around;
    transform: scale(0.8);
  }

  .button-container {
    margin: 0.3rem 0;
  }
}
